* {
    margin: 0;
    padding: 0;
    font-family: "sans-serif", "Arial", "Times New Roman";
    font-weight: normal;
    font-size: 1em;
}

:root {
    --main-background-color: #d8d9d987;
    --main-text-color: #3a3a3a;
    --main-primary-color: #58b666;
    --light-color: #6fbced;
    --chat-background: #ffffffcf;
    --input-focus: #e2eef5;
    --box-shadow-primary-color: #5a8e62;
}

html {
    min-height: 100vh;
}

body {
    background: var(--main-background-color);
    background-repeat: no-repeat;
    box-sizing: border-box;
    color: var(--main-text-color);
    margin: 0;
    padding: 0;
}

.chat-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: var(--chat-background);
}

.chat-message-button {
    background: var(--main-primary-color);
    transition: box-shadow 0.3s ease-in-out;
    display: inline-block;
    border-radius: 40px;
    font-weight: 500;
    font-size: 13px;
    line-height: 25px;
    padding: 5px 10px;
    border: 0;
    text-transform: uppercase;
    color: var(--chat-background);
    cursor: pointer;
    outline: 0;;
    margin-left: 5px;
}

.chat-message-button:hover {
    box-shadow: var(--box-shadow-primary-color) 0 0 10px;
}

.chat-message-input {
    background: var(--main-background-color);
    transition: background 0.3s ease-in-out;
    padding: 10px;
    line-height: 25px;
    border: none;
    box-sizing: border-box;
    border-radius: 20px;
    outline: none;
    width: 75%;
    max-width: 500px;
    color: var(--main-text-color);
}

.chat-message-input:focus {
    background: var(--input-focus);    
}

.chat-header {
    font-size: 1.5em;
    padding: 15px;
    text-align: center;
}

.chat-content {
    width: 75%;
    text-align: center;
    padding: 15px;
    height: 400px;
    overflow-y: scroll;
}

.chat-messages {
    display: flex;
    flex-direction: column;
}

.chat-message-container {
    width: 45%;
    max-width: 350px;
}

.chat-message-container-left {
    text-align: left;
}

.chat-message-container-right {
    text-align: right;
    align-self: flex-end;
    word-break: break-all;
}

.chat-message {
    border-radius: 20px;
    background: border-box;
    padding: 15px;
    color: var(--chat-background);
    margin: 5px 0;
}

.chat-message-left {
    background: var(--main-primary-color);
}

.chat-message-right {
    background: var(--light-color);
}

.chat-message-username {

}

.connecting {
    padding: 15px;
    font-size: 1.2em;
}

#chat-message-form {
    width: 75%;
    margin: 10px 0;
    display: flex;
    justify-content: flex-end;
}

.hidden {
    display: none;
}